#container-conteudo-primeira-secao {
    position: fixed;
    top: 25%;
    left: 64px;
    z-index: 1; /* Garante que o texto fique na frente */
    text-align: center;
    color: white; 
    font-family: Arial, sans-serif;
}

#container-conteudo-primeira-secao > h1 {
    font-size: 40px;
    font-family: var(--plus-jakarta);
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#container-conteudo-primeira-secao > p {
    font-size: 21px;
    font-family: var(--roboto);
}