#container-conteudo-primeira-secao {
    position: absolute;
    top: 25%;
    left: 64px;
    z-index: 1; /* Garante que o texto fique na frente */
    text-align: center;
    color: white; 
    font-family: Arial, sans-serif;
}

#container-conteudo-primeira-secao > h1 {
    font-size: 40px;
    font-family: var(--plus-jakarta);
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#container-conteudo-primeira-secao > p {
    font-size: 21px;
    font-family: var(--roboto);
}

/* Segunda seção */
#segunda-secao-secao-analisador-curriculo {
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: 20%;
    padding: 10px;
}

#container-upload-do-cv {
    position: absolute;
    top: 840px;
    right: 925px;
    padding: 5px;
    box-shadow: 1px 1px 10px #00000035;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

/* Input upload */
#upload-cv {
    display: none;
}

#icone-upload {
    cursor: pointer;
}

/* Input do prompt */
#prompt-analise-curriculo {
    min-width: 630px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 110px;
    outline: none;
    border-radius: 10px;
    border: none;
}

#container-btn-enviar-curriculo {
    position: absolute;
    top: 845px;
    right: 28%;
    cursor: pointer;
}

/* Botão enviar curriculo para a IA analisar */
#btn-enviar-curriculo {
    background-color: var(--preto);
    color: var(--branco);
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

#titulo-terceira-secao {
    font-family: var(--plus-jakarta);
    font-size: 70px;
    text-align: center;
    color: var(--branco);
    margin-bottom: 90px;
}

#container-demostracao-do-conteudo {
    display: flex;
    justify-content: center;
}

.demonstracao-conteudo {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--branco);
    padding: 20px;
}

.primeira-parte {
    display: flex;
    gap: 23px;
}

.container-numero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid var(--preto);
    border-radius: 50%;
    padding: 14px;
}

.titulo-demonstracao {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.segunda-parte {
    margin-top: 20px;
    margin-left: 65px;
}

.segunda-parte > p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Barra de progresso */ 
progress {
  /* Reseta a aparência padrão do navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 52%;
  height: 12px;
}

progress::-webkit-progress-bar {
  background-color: var(--branco); /* Cinza claro */
  border-radius: 10px;
  border: 1px solid var(--preto);
}

progress::-webkit-progress-value {
  background-color: var(--preto);
  border-radius: 4px;
}

.titulo-demonstracao > h3 {
    font-weight: bold;
}

.titulo-demonstracao > p {
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 18px;
}

.container-vantagens-de-cada-plano > p > svg {
    color: var(--branco);
}









/* Quando o usuario nao tiver analises */
/* .cursorBloqueado {
    cursor: not-allowed;
} */