header {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
}

/* Configurações para o vídeo cobrir todo o fundo */
#video-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo se comportar como um 'background-size: cover' */
  z-index: -1; /* Envia o vídeo para trás de todo o conteúdo */
}
